<!DOCTYPE html>
<html>
<head>
  <title>Biddingly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
